@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar li:hover {
  background: #777;
}
.active {
  background-color: #555;
}
* {
  box-sizing: border-box;
}
.navbar {
  padding: 0 1rem;
  gap: 2rem;
}
.title {
  padding-bottom: 1rem;
}
